.cont {
    background-color: transparent;
    background: url('https://t3.ftcdn.net/jpg/05/79/48/52/360_F_579485255_hzHox0stuQmBx5QViwnQqQjk7RD2AJza.jpg') center/cover no-repeat;
}
.background-containter {
    background-color: transparent; /* Set your desired background color */
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    height:150vh;
  }
  
  .form-control {
    margin-bottom: 15px;
    background-color: transparent;
    border-left: none;
    border-right: none;
  
    color: #2A0944; 
  }
  
  /* .btn-primary {
    background-color: transparent;
    border-color: transparent;
    color:#2A0944; 
  } */
  
 
  

  