.footer{
    width: 100%;
   
    font-size: 12px;
    /* position: absolute;
    top:3000px; */
  
  }
  
  .fLists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .fList{
    list-style: none;
    padding: 0;
    gap:1px;
  }
  
  .fListItem{
    margin-bottom: 10px;
    color: #003580;
    cursor: pointer;
  }
